.banner{
  background-image: url('/public/rana_banner.jpeg'),linear-gradient(to right, rgba(0,0,0,0.5), rgba(255,0,0,0.5));
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  opacity: 0.5;
}
